<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }}</title>
  {% block head %}{% endblock %}
  <link rel="stylesheet" href="/css/bulma.min.css">
</head>

<body>
  {% include 'partials/header.html' %}
  {% block body %}

  {% endblock %}
</body>

</html>