{% layout 'layouts/base.html' %}

{% block head %}
<link rel="stylesheet" type="text/css" href="/css/documentation.css">
{% endblock %}

{% block body %}
<div id="docsToggles" class="docs-toggles is-sticky">
  <button class="button is-primary is-light bd-fat-button is-small" id="docsNavButton">Show menu</button>
</div>
<div class="docs columns">
  <div id="docsNav" class="docs-menu column is-sticky mobile">
    {% toc content, page %}
  </div>

  <div class="container column">
    <div id="content" class="content">
      <h1 class="title"> {{ title }} </h1>
      <h3 class="subtitle has-text-centered"> {{ subtitle }} </h3>
      {{ content }}
    </div>
  </div>
</div>
{% endblock %}

<script>
  let menuVisible = true;
  const menu = document.getElementById('docsNav');
  const menuLinks = menu.querySelectorAll('a');
  const headings = document.querySelectorAll('h1, h2, h3, h4');
  const showMenuButton = document.getElementById('docsNavButton');
  const options = {
    root: null,
    rootMargin: '0px',
    threshold: 0.8,
  };

  let shouldUpdate = true;
  const observer = new IntersectionObserver(onIntersection, options);

  showMenuButton.addEventListener('click', (event) => {
    menu.classList.toggle('mobile')
  });

  menuLinks.forEach(link => {
    link.addEventListener('click', (event) => {
      shouldUpdate = false
      menuLinks.forEach(l => l.classList.remove('is-active'));
      link.classList.add('is-active');
      setTimeout(() => {
        shouldUpdate = true;
      }, 100);
      if (!menu.classList.contains('mobile') && menu.style.display !== 'none') {
        menu.classList.toggle('mobile');
      }
    });
  })

  function findActiveSectionId () {
    let minDistance = Number.POSITIVE_INFINITY;
    let activeSectionId = '';

    headings.forEach(heading => {
      if (!heading.id) { return }
      const rect = heading.getBoundingClientRect();
      if (rect.top >= 0 && rect.top < minDistance) {
        minDistance = rect.top;
        activeSectionId = heading.id;
      }
    });

    return activeSectionId;
  }

  function onIntersection (entries) {
    const currentSectionId = findActiveSectionId();
    if (shouldUpdate === false) { return }
    menuLinks.forEach(link => {
      link.classList.remove('is-active');
      if (link.getAttribute('href').substring(1) === currentSectionId) {
        link.classList.add('is-active');
      }
    });
  }
  headings.forEach(heading => {
    if (heading.id) {
      observer.observe(heading);
    }
  })

  menuLinks[0].classList.add('is-active');
</script>