  .docs-menu {
    display: block;
    padding: 2rem;
    margin: 1rem;
    max-height: 100vh;
    max-width: 325px;
    min-width: 275px;
    overflow-y: auto;
    z-index: 999;
    background-color: var(--bulma-body-background-color);
  }

  .docs-toggles {
    display: none;
    justify-content: space-between;
    padding: 0.5rem 0.5rem;
    height: 45px;
    width: auto;
    background-color: #a7a7a74f;
    z-index: 1000;
  }

  @media screen and (max-width: 769px) {
    .docs-menu {
      padding-top: 45px;
      width: 100%;
      height: 100vh;
    }

    .docs-menu.mobile {
      display: none;
    }

    .docs-toggles {
      display: block;
    }
  }

  .content {
    margin: 1rem 12rem 2rem 4rem;
  }

  @media screen and (max-width: 1200px) {
    .content {
      margin-right: 4rem;
    }
  }

  .content .title {
    margin-bottom: 3rem;
    font-size: 2.2rem;
  }

  .content h2 {
    position: relative;
    display: block;
    font-weight: 600;
    line-height: 2;
  }

  .content h2::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    margin-top: 44px;
    width: 100%;
    height: 2px;
    background-color: #5050503f;
  }

  .content pre {
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
    padding: 1.25em 1.5em;
    white-space: pre;
    word-wrap: normal;
    border-radius: 8px;
  }

  .is-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }

  .is-hidden {
    display: none
  }