<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/" aria-label="Go back to the homepage">
      {% if config.logo %}
      <img id="logo" src="{{config.logo}}" width="30" height="30" alt="FeniXWizard Logo">
      {% else %}
      <h1 class="title">
        {{config.siteName}}
      </h1>
      {% endif %}
    </a>

    <a id="mainMenuBurger" role="button" class="navbar-burger is-dark" aria-label="menu" aria-expanded="false" data-target="mainMenu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="mainMenu" class="navbar-menu">
    <div class="navbar-start" id="navbar-links"></div>

    <div class="navbar-end">
      <div class="navbar-item">
      {% for item in config.navbarItems %}
      
      {% if item.items %}
      <div class="navbar-item has-dropdown is-hoverable is-dark">
        <a class="navbar-link">
          {{item.text}}
        </a>
        <div class="navbar-dropdown is-dark">
          {% for dropdownItem in item.items %}
          <a class="navbar-item" href="{{dropdownItem.href}}">
            {{dropdownItem.text}}
          </a>
          {% endfor %}
        </div>
      </div>
      {% else %}
      <a class="navbar-item" href="{{item.href}}">{{item.text}}</a>
      {% endif %}
      {% endfor %}
      </div>
    </div>

  </div>
</nav>

<script>
  const mainMenu = document.getElementById('mainMenu');
  const navbarBurger = document.getElementById('mainMenuBurger');

  navbarBurger.addEventListener('click', (event) => {
    if (mainMenu.classList.contains('is-active')) {
      mainMenu.classList.add('closing');

      mainMenu.addEventListener('animationend', function onAnimationEnd () {
        mainMenu.classList.remove('is-active');
        mainMenu.classList.remove('closing');
        mainMenu.removeEventListener('animationend', onAnimationEnd); // Remove the listener
      }, { once: true });;
    } else {
      mainMenu.classList.add('is-active');
    }
  });
</script>