{% include 'layouts/base.html' %}

{% block body %}
<div class="container is-max-desktop">
  <section class="hero is-medium has-text-centered">
    <div class="hero-body pb-6 pt-6">
      {% if config.heroImage %}
      <img id="logo" class="has-ratio" src="{{config.heroImage}}" alt="FeniXWizard logo">
      {% else %}
      <p class="title">
        {{config.siteName}}
      </p>
      {% endif %}
      <h2 class="is-size-4 has-text-grey-light">
        {{ config.slogan }}
      </h2>
      <div class="pt-5">
        <a class="button is-primary is-large" href="{{ config.buttonLink }}">
          Get Started
        </a>
      </div>
    </div>
  </section>
  <hr>
  <section class="container is-max-desktop">
    <div class="columns is-multiline is-centered">
      <div class="column">
        <h1 class="subtitle">Project Setup</h1>
        <p>Generate and entire project, download an MV demo game and automatically install and configures packages</p>
      </div>
      <div class="column">
        <h1 class="subtitle">Live server</h1>
        <p>Start a live development server and reload when changes have been made to your plugins</p>
      </div>
      <div class="column">
        <h1 class="subtitle">Next-Gen Javascript</h1>
        <p>Start writing with next generation JavaScript, split code into modules and import packages, no setup required!</p>
      </div>
    </div>
  </section>
</div>
{% endblock %}